In [ ]:
import pandas as pd

In [ ]:
supermarket_sale= pd.read_excel("/content/10_Supermarket Sale.xlsx")

In [ ]:
supermarket_sale.head()

,sale_id,branch,city,customer_type,product_name,product_category,quantity,total_price
0,1,A,New York,Member,Shampoo,Personal Care,3.0,17.66
1,2,B,Los Angeles,Normal,Notebook,Stationery,10.0,29.43
2,3,A,New York,Member,Apple,Fruits,15.0,19.26
3,4,A,Chicago,Normal,Detergent,Household,5.0,41.73
4,5,B,Los Angeles,Member,Orange Juice,Beverages,7.0,26.22

In [ ]:
supermarket_sale.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 253 entries, 0 to 252
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   sale_id           253 non-null    int64
 1   branch            253 non-null    object
 2   city              253 non-null    object
 3   customer_type     250 non-null    object
 4   product_name      253 non-null    object
 5   product_category  247 non-null    object
 6   quantity          250 non-null    float64
 7   total_price       253 non-null    float64
dtypes: float64(2), int64(1), object(5)
memory usage: 15.9+ KB

In [ ]:
supermarket_sale.isna().sum()

sale_id             0
branch              0
city                0
customer_type       3
product_name        0
product_category    6
quantity            3
total_price         0
dtype: int64

In [ ]:
supermarket_sale.value_counts("customer_type")

customer_type
Member    131
Normal    119
Name: count, dtype: int64

In [ ]:
supermarket_sale.dropna(subset=["customer_type","product_category","quantity"], inplace= True)

In [ ]:
supermarket_sale.info()

<class 'pandas.core.frame.DataFrame'>
Index: 242 entries, 0 to 252
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   sale_id           242 non-null    int64
 1   branch            242 non-null    object
 2   city              242 non-null    object
 3   customer_type     242 non-null    object
 4   product_name      242 non-null    object
 5   product_category  242 non-null    object
 6   quantity          242 non-null    float64
 7   total_price       242 non-null    float64
dtypes: float64(2), int64(1), object(5)
memory usage: 17.0+ KB

In [ ]:
supermarket_sale.quantity = supermarket_sale.quantity.fillna(supermarket_sale.quantity.mean())
print(supermarket_sale.quantity)

0       3.0
1      10.0
2      15.0
3       5.0
4       7.0
       ...
248     9.0
249     3.0
250    17.0
251    19.0
252    18.0
Name: quantity, Length: 242, dtype: float64

In [20]:
supermarket_sale[supermarket_sale.isna().any(axis=1)]

Empty DataFrame
Columns: [sale_id, branch, city, customer_type, product_name, product_category, quantity, total_price]
Index: []